[submodule "vendor/plenary.nvim"]
	path = vendor/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "vendor/matcher_combinators.lua"]
	path = vendor/matcher_combinators.lua
	url = https://github.com/m00qek/matcher_combinators.lua.git
