name: test

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.actor }}
  cancel-in-progress: true

jobs:
  test-base:
    name: Run base tests
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        neovim_version: ['v0.10.0']
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - name: Setup neovim
        uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: ${{ matrix.neovim_version }}
      - name: Install ripgrep
        run: |
          mkdir ripgrep
          cd ripgrep
          wget -O - https://github.com/BurntSushi/ripgrep/releases/download/14.1.0/ripgrep-14.1.0-x86_64-unknown-linux-musl.tar.gz | tar zxf - --strip-component=1
      - name: Run tests
        run: | 
          make prepare
          env RG_PATH=$(realpath ./ripgrep/rg) make test dir=base
  test-astgrep:
    name: Run astgrep tests
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        neovim_version: ['v0.10.0']
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - name: Setup neovim
        uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: ${{ matrix.neovim_version }}
      - name: Install ripgrep
        run: |
          mkdir ripgrep
          cd ripgrep
          wget -O - https://github.com/BurntSushi/ripgrep/releases/download/14.1.0/ripgrep-14.1.0-x86_64-unknown-linux-musl.tar.gz | tar zxf - --strip-component=1
      - name: Install astgrep
        run: |
          mkdir astgrep
          cd astgrep
          wget https://github.com/ast-grep/ast-grep/releases/download/0.25.6/app-x86_64-unknown-linux-gnu.zip
          unzip app-x86_64-unknown-linux-gnu.zip
      - name: Run tests
        run: | 
          make prepare
          env RG_PATH=$(realpath ./ripgrep/rg) SG_PATH=$(realpath ./astgrep/sg) make test dir=astgrep
